/.htaccess
/.*
/node_modules/**/*
/bower_components/**/*
/test/**/*
/tests/**/*
/assets/.thumbs/**/*
/assets/backup/**/*
/assets/cache/**/*
/assets/docs/**/*
/assets/export/**/*
/assets/files/*.html
/assets/files/*.png
/assets/images/*.html
/assets/images/*.png
/assets/import/**/*
/assets/js/**/*
/assets/lib/**/*
/assets/site/**/*
/assets/index.html
/manager/**/*
/vendor/**/*
/index.php
/zip.php
/*.txt
/*.sublime*
/package-lock.json
/comps/**/*
comps/**/*
/comp*/*
comp*/**/*

/assets/modules/*.html
/assets/modules/*.php
/assets/modules/docmanager/**/*
/assets/modules/store/**/*

/assets/plugins/*.html
/assets/plugins/*.php
/assets/plugins/codemirror/*
/assets/plugins/elementsintree/*
/assets/plugins/extrascheck/*
/assets/plugins/filesource/*
/assets/plugins/forgotmanagerlogin/*
/assets/plugins/managermanager/*
/assets/plugins/qm/*
/assets/plugins/tinymce4/*
/assets/plugins/transalias/*
/assets/plugins/updater/*

/assets/snippets/*.html
/assets/snippets/*.php
/assets/snippets/DocLister/*
/assets/snippets/FormLister/*
/assets/snippets/GetGlobalCookie/*
/assets/snippets/breadcrumbs/*
/assets/snippets/docinfo/*
/assets/snippets/if/*
/assets/snippets/phpthumb/*
/assets/snippets/summary/*

!/assets/snippets/phpthumb/snippet.phpthumb_custom.php

/assets/tvs/multitv/*.php
/assets/tvs/multitv/buttons/*
/assets/tvs/multitv/css/*
/assets/tvs/multitv/dittoExtender/*
/assets/tvs/multitv/docs/*
/assets/tvs/multitv/includes/*
/assets/tvs/multitv/js/*
/assets/tvs/multitv/languages/*
/assets/tvs/multitv/moduleconfigs/*
/assets/tvs/multitv/phx-modifier/*
/assets/tvs/multitv/processors/*
/assets/tvs/multitv/settings/*
/assets/tvs/multitv/templates/*
/assets/tvs/multitv/configs/*.php
/assets/tvs/multitv/configs/*.json

!/assets/tvs/multitv/configs/lession_files.config.inc.php
!/assets/tvs/multitv/configs/gallery.config.inc.php
!/assets/tvs/multitv/configs/homeslider.config.inc.php